@page "/posts/{url}"
@inject BlazorBlog.Client.Services.IBlogPostService BlogService

@if (Post == null)
{
    <div>Loading...</div>
}
else
{
    <h3>@Post.Title</h3>
    <div>@Post.Content</div>
}
@code {

    public BlazorBlog.Shared.BlogPost Post;

    [Parameter]
    public string Url { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Post = await BlogService.GetPostByUrl(Url);
    }
}
